body {
    background-color: gainsboro;
}

.topbar {
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.topbar-link:visited {
    color: rgba(255, 255, 255, 0.733);
}
a:link {
    color: rgba(255, 255, 255, 0.733);
}

.image{
    width: 12rem;
    height: 13rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

.text-bubble{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

p{
    font-size: 1.35rem;
    text-align: center;
}
.projects-p{
    font-size: 1rem;
}

.carpet-image{
    width: 16rem;
    height: 12rem;
}

.nba-image{
    width: 11rem;
    height: 12rem;
}
.lex-image{
    width: 13rem;
    height: 12rem;
}

.family-image{
    width: 16rem;
    height: 12rem;
}

.frisbee-image{
    width: 16rem;
    height: 12rem;
}
h4{
    text-decoration: underline ;
}

.video{
    width: 24rem;
    height: 16rem;
}