body {
    background-color: gainsboro;
}

.topbar {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.topbar-link:visited {
    color: yellow;
}
a:link {
    color: red;
}